<p>
	Join others in a new interactive and fun way to create a short story with a partner.<br/> 
	Make a story or join an existing one to find a partner to get started! <br/> 
	Read other user's stories and vote on your favorites to make them the top story of the week! <br/> 
	Your imagination is the only limit! 
</p>
           
<% if signed_in? %>
  	<div class="row">
  		<%= link_to "Learn How to Play!", howtoplay_path, class: "btn btn-default" %>
  		&nbsp;
    	<%= link_to "Start a Story!", new_story_path, class: "btn btn-default" %>
    	&nbsp;
    	<%= link_to "Join or Read a Story!", stories_path, class: "btn btn-default" %>
  	</div>
<% else %>
  	<div class="center hero-unit">
    	<%= link_to"Sign up now!", signup_path, class: "btn btn-default" %>
    	<%= link_to "Sign in!", signin_path, class: "btn btn-default" %>
  	</div>
<% end %>

<table>
	<th colspan="4"><center><h3>SentenceZing Holiday Promotion</h3></center></th>
	<tr>
		<td colspan="4">
			<!--
			<center><p>Will ship before Christmas!   Makes an excellent gift!</p></center> <br/>
			-->
			<center><%= link_to"Click here for more details", donations_path, class: "btn btn-default" %></center>
			<br/>
		</td>
	</tr>
	<tr>
		<td width="50px"></td>
		<td width="100px">
			<center>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<table>
				<tr><td><input type="hidden" name="on0" value="T-Shirt Sizes">T-Shirt Sizes</td></tr><tr><td><select name="os0">
				<option value="Medium">Medium </option>
				<option value="Large">Large </option>
				<option value="Extra Large">Extra Large </option>
				</select> </td></tr>
				</table>
				<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHbwYJKoZIhvcNAQcEoIIHYDCCB1wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBn+RFSO/ftpEsBHSnd8rENGHAMllLppnCi2ERmVKEfZxTpRYrLHe0Yq+n4MBhcyFXqXBZBs5UmK0uAivyXfLpgtW9amkyYoBN6P2XOt+EtHn7s2MVAQ6cFNnH4I5sWPNyeJ7RM8Iqi0N+nsvm48ELA3N0UnJSr1B2NmyIhy46CTDELMAkGBSsOAwIaBQAwgewGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIDOCPSaVb3LSAgchWhy+4wo4EEpbBk3V+ZdvfT2qeVxoKmY5qbuxSIiulxLOFeCkkmbn3+ZVr3vhTFJ5fDivbbqXFBxIYqinL5UMUqK+NO0FwgNp/tTnEGXG5sJ9dD4d0bTXpZIJZgxgjOoJflzdMQdPrU1ZBmeA3PO6YteG7kWw0xsSUFWKT7DZ2MF0e3Qva0rOPHHQQv9OnoYCLXpQpxpfVgIwR+f/H8C3CT5tdxxeopnM728TsxeV85QtMwQWTzihEWwmOw5OCh6gvXrGTR6OJD6CCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE0MTIxMDAzMjYwMVowIwYJKoZIhvcNAQkEMRYEFFkXtaxaK1FBlCnsHJsWFBhJ/exeMA0GCSqGSIb3DQEBAQUABIGAN1Y1DhvNQqQp2pyxKvNW345bgAKHS6mdv7Xggnr4tSsLgCX/EwHx19R2avjKlsNmQ+ZSBds/pZiHfDEpaOUL0M9PaoVQow2nnkx93oqynI3fx1snaTRLpdQwfk45DEBH6gOpYIZK22g5CPgH6Ijd9xOkpAqlwEO/CXKzFrDJRMQ=-----END PKCS7-----
				">
				<input type="image" src="http://wheatfreemom.com/blog/wp-content/uploads/2013/01/paypal-buy-now-button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
			</center>
		</td>
		<td width="75px"></td>
		<td>
			<p>
				<center>Includes:</center> <br/>
				- SentenceZing Premium Membership <br/>
				- One Additional Premium Membership For a Friend <br/>
				- SentenceZing T-Shirt <br/>
				- SentenceZing Stickers <br/>
				- Access to Upcoming Exclusive features <br/>
			</p>
		</td>
	</tr>
</table>
<hr>
<table>
	<tr>
		<td width="50px"></td>
		<td width="100px">
			<center>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<table>
				<tr><td><input type="hidden" name="on0" value="T-shirt Sizes">T-shirt Sizes</td></tr><tr><td><select name="os0">
				<option value="Medium">Medium $15.00 USD</option>
				<option value="Large">Large $15.00 USD</option>
				<option value="Extra Large">Extra Large $15.00 USD</option>
				</select> </td></tr>
				</table>
				<input type="hidden" name="currency_code" value="USD">
				<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIICQYJKoZIhvcNAQcEoIIH+jCCB/YCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAVbqu7nHAKtxcau85OhlJZWf+JenPYX9ih72QyI6fz79J4+lTzb6y+G3/FAioKbKrW+j0gXKk50QLvzc89pEuR9TzwbVa2XkvuwQiFVGT6wQsUrudyqKueERCO4ke00cEw9crkQ8nmTqfCAxY5iPeFIvavopzjYeYyrR8qLnBj0jELMAkGBSsOAwIaBQAwggGFBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECEFdVODsgQVhgIIBYCP0P4vMydcVvYzUsMScXIL/7Kvq3lqrgO2Gn0uGLwdP+zjuUCkwX9O66TLT4JKR603QC4bb0n4CJn20PHRL/KSl2eY+LqhDrtIVd99tWXU/8joXtPsdTxBEiJCVbwLnVuncPPSlinVsUy1AiVR83KLSbmRTMWoR0dXCWrl68gyMEOzIR+EbLZgX3d3Irt69ghdwiDrY5bG8HZS0kyhEvp2UjvlGt7WxiocxnVcBlpgpy30JUBjuhmLuy0+QSiqYaJYZ2j244FZv3VJtiQyeamMnZS8bdi9ZruWUhQXEmpc1Avv+IXAdRLnF6galp40bRuPmVS4OLU2YdObkAFftlVUsR2kGz/ZcKSLfg+js51L3A0eHriaNl9DiLCM6KecaBnlOauUZpSiGezqJ2gIyRxbYXKtN63EbG8LFtLt2ZIQ0XQdDWCVeGyJsJz0SKTP8Q4hFSX4BAh7gMx2WjloHRlugggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNDEyMTYwMDE4MzRaMCMGCSqGSIb3DQEJBDEWBBSgHyIrQ9s3z07sgat5aWPTtLDF0TANBgkqhkiG9w0BAQEFAASBgD3HHwZkUUk4NuDxe8hEuVkGSfgYAmUll/HkqPs5Vbb6T84qRsI164pC3RBs+O7awFSIPTaG1d4omKo0+XkWBm2N8wi3s8cOf4/tdzzS8WtUFBYdGgTF8l2tUw+jH+LTZNaV2G6tikVHokysKat8Kl/HgUZ+qFnFZWEDPsDuaPyG-----END PKCS7-----
				">
				<input type="image" src="http://wheatfreemom.com/blog/wp-content/uploads/2013/01/paypal-buy-now-button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
			</center>
		</td>
		<td width="75px"></td>
		<td>
			<p>
				<center>Includes:</center> <br/>
				- SentenceZing T-Shirt <br/>
				- SentenceZing Stickers <br/>
				- Early Backer and Holiday badges for your profile <br/>
			</p>
		</td>
	</tr>
	<!--
	<tr>
		<td colspan="4">
			<center><%= link_to"Click here for more details", donations_path, class: "btn btn-default" %></center>
		</td>
	</tr>
	-->
</table>

<script id="sid0020000058590817580">(function() {function async_load(){s.id="cid0020000058590817580";s.src='http://st.chatango.com/js/gz/emb.js';s.style.cssText="width:200px;height:300px;";s.async=true;s.text='{"handle":"sentencezing","arch":"js","styles":{"a":"CC0000","b":100,"c":"FFFFFF","d":"FFFFFF","k":"CC0000","l":"CC0000","m":"CC0000","n":"FFFFFF","q":"CC0000","r":100,"pos":"bl","cv":1,"cvfntsz":"20px","cvbg":"CC0000","cvw":123,"cvh":45}}';var ss = document.getElementsByTagName('script');for (var i=0, l=ss.length; i < l; i++){if (ss[i].id=='sid0020000058590817580'){ss[i].id +='_';ss[i].parentNode.insertBefore(s, ss[i]);break;}}}var s=document.createElement('script');if (s.async==undefined){if (window.addEventListener) {addEventListener('load',async_load,false);}else if (window.attachEvent) {attachEvent('onload',async_load);}}else {async_load();}})();</script>

<br/><br/>

<div id="fb-root"></div>
<script>
	(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
 		js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
 		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-like-box" data-href="https://www.facebook.com/sentencezing" data-width="500" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true" ></div>

<br/><br/><br/>