<p>
	Join others in a new interactive and fun way to create a short story with a partner.<br/> 
	Make a story or join an existing one to find a partner to get started! <br/> 
	Read other user's stories and vote on your favorites to make them the top story of the week! <br/> 
	Your imagination is the only limit! 
</p>
        
<br/>
           
<% if signed_in? %>
  	<div class="row">
  		<%= link_to "Learn How to Play!", howtoplay_path, class: "btn btn-default" %>
  		&nbsp;
    	<%= link_to "Start a Story!", new_story_path, class: "btn btn-default" %>
    	&nbsp;
    	<%= link_to "Join or Read a Story!", stories_path, class: "btn btn-default" %>
  	</div>
<% else %>
  	<div class="center hero-unit">
    	<%= link_to"Sign up now!", signup_path, class: "btn btn-default" %>
    	<%= link_to "Sign in!", signin_path, class: "btn btn-default" %>
  	</div>
<% end %>

<br/>

<table>
	<th colspan="4"><h3>SentenceZing Premium Membership Christmas Promotion</h3></th>
	<tr height="100px">
		<td width="50px"></td>
		<td width="100px">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHZwYJKoZIhvcNAQcEoIIHWDCCB1QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYArL1CNX6hR7jXXWx0gc1UpMoJJCyrszrsPJ40UeyCMjBeBNVyxTUTN3bwHH8H2/4HjNqsrcD+VIAnG6r/wKx6K/g+hHUTWaorusrmSWgQBwm+1S6Kg1q9ulseszQ2l0omWZ61SFVqgkM65kIPFWHa7BEmTvQtJUqBrE03hXFW4EDELMAkGBSsOAwIaBQAwgeQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIfkbuXHHU7fCAgcDSwV5Gv25jnmQM/LI/lp5dcc5AXhy5b8XiGSre+LwKrCa/lnOW4USReonqE1/6DMnUI2ZQ9yWvH76IAJo+ZI3RyBQwsQfDAq/Iv5Y00EDt2QFrQS8r622npJXdkUzy6bfDswhGW4UYfBp4Pdu3p11nl0uXZmH0brA532vwStrLqCceIkZnyxvMGgT0uN45qXPYGvtcMb5GANNocGtvc0p7+y4DP1ggf/aBM2xlxc2PEWdzVzwTNWQ6U87Vn5BzSr2gggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNDEyMTAwMjM5MjVaMCMGCSqGSIb3DQEJBDEWBBQw/JafA90spo/3aWSzIUfQ/1oQQDANBgkqhkiG9w0BAQEFAASBgIaiyX/jKk1KmnEr+3TiBZPVsPtde45iHQbG1gMR+rg5tEQ0BS/RQ2cjUPcvGXnwBBEvxUkLjawJgEYsRaxzoFtph5g4bEBIg4MEFNHrN0KE/dpCbeG7rTJqgLiWBDNddmoIvn2YYoWtLtFrYhDOBOEffa7EXzqtRRVSDIfbyMev-----END PKCS7-----
				">
				<input type="image" src="http://wheatfreemom.com/blog/wp-content/uploads/2013/01/paypal-buy-now-button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
		</td>
		<td width="75px"></td>
		<td>
			<%= link_to"Click here for more details", donations_path, class: "btn btn-default" %>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<h2>Comes with t-shirt, stickers, premium member features, and access to future exclusive content!</h2>
		</td>
	</tr>
</table>
<br/>


<script id="sid0020000058590817580">(function() {function async_load(){s.id="cid0020000058590817580";s.src='http://st.chatango.com/js/gz/emb.js';s.style.cssText="width:200px;height:300px;";s.async=true;s.text='{"handle":"sentencezing","arch":"js","styles":{"a":"CC0000","b":100,"c":"FFFFFF","d":"FFFFFF","k":"CC0000","l":"CC0000","m":"CC0000","n":"FFFFFF","q":"CC0000","r":100,"pos":"bl","cv":1,"cvfntsz":"20px","cvbg":"CC0000","cvw":123,"cvh":45}}';var ss = document.getElementsByTagName('script');for (var i=0, l=ss.length; i < l; i++){if (ss[i].id=='sid0020000058590817580'){ss[i].id +='_';ss[i].parentNode.insertBefore(s, ss[i]);break;}}}var s=document.createElement('script');if (s.async==undefined){if (window.addEventListener) {addEventListener('load',async_load,false);}else if (window.attachEvent) {attachEvent('onload',async_load);}}else {async_load();}})();</script>

<br/><br/>

<div id="fb-root"></div>
<script>
	(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
 		js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
 		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-like-box" data-href="https://www.facebook.com/sentencezing" data-width="500" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true" ></div>

<br/><br/><br/>