<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Inbox</a></li>
        <li><a href="#tabs-2">Sent</a></li>
        <li><a href="#tabs-3">Trash</a></li>
    </ul>
    
    <div id="tabs-1">
        <%= render collection: mailbox.inbox, partial: 'conversation' %><br/>
    </div>
    <div id="tabs-2">
        <%= render collection: mailbox.sentbox, partial: 'conversation' %>
    </div>
    <div id="tabs-3">
        <%= render collection: mailbox.trash, partial: 'conversation' %>
    </div>
</div>

<br/><br/><br/>

<h1> Conversations </h1>

<h2> Inbox </h2>
<ul> <%= render collection: mailbox.inbox, partial: 'conversation' %><br/> </ul>
<br/>

<h2> Sentbox </h2>
<ul> <%= render collection: mailbox.sentbox, partial: 'conversation' %><br/> </ul>
<br/>

<h2> Trash </h2>
<ul> <%= render collection: mailbox.trash, partial: 'conversation' %><br/> </ul>
<br/>

<%= link_to 'Start Conversation', :new_conversation %>
<br/><br/>





