<h1> <%= conversation.subject %> </h1>

<table>
  <%= content_tag_for(:tr, conversation.receipts_for(current_user)) do |receipt| %>
    <% message = receipt.message %>
    <td> <%= message.body %> </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <% user = User.find(message.sender_id) %>
    <td> <%= user.name %> </td>
    <br/>
  <% end %>
</table>

<br/><br/>

<%= render 'messages/form', conversation: conversation %>

<br/><br/>
