<h1> <%= conversation.subject %> </h1>

<div class="table-responsive" >
	<table class="table table-hover" >
		<tbody id="items">
    		<%= content_tag_for(:tr, conversation.receipts_for(current_user)) do |receipt| %>
        		<% message = receipt.message %>
        		<tr>
            		<td>
                		<%= message.body %> 
            		</td>
            		<% user = User.find(message.sender_id) %>
            		<td>
  	  	        		<% if user.image.present? && user.image != "" %>
  	  	            		<%= link_to image_tag(user.image, :size => "30x30"), user %>  
   	  	        		<% else %>
   	  	            		<%= link_to image_tag("default_profile.jpg", :size => "30x30"), user %> 
                		<% end %>
                		<%= user.name %> 
            		</td>
        			<td>
            			<%= time_ago_in_words(message.created_at) %>
        			</td>
    			</tr>
    		<% end %>
		</tbody>
	</table>
</div>

<br/><br/>

<center>
<%= render 'messages/form', conversation: conversation %>
</center>

<br/><br/>