<% provide(:title, "Profile") %>
<h1>Profile</h1>

<%= form_for @user, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="userinfo2">
    <div class="row">
      <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-1 col-xs-3" >
        <b>Username</b>
      </div>
      <div class="col-md-5 col-sm-8 col-xs-9" >
        <%= f.text_field :name %> <br><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-1 col-xs-3" >
        <b>User Bio</b>
      </div>
      <div class="col-md-5 col-sm-8 col-xs-9" >
        <%= f.text_area :aboutme, :cols => 50, :rows => 3, placeholder:  "About Me" %> <br> 
      </div>
    </div> 

    <div class="row">
      <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-1 col-xs-3" >
        <b>Profile Picture</b>
      </div>
      <div class="col-md-5 col-sm-8 col-xs-9" >
        <%= f.file_field :image %> <br>
      </div>
    </div>
		      
    <div class="row">
      <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-1 col-xs-3" >
        <b>Banner</b>
      </div>
      <div class="col-md-5 col-sm-8 col-xs-9" >
        <%= f.file_field :banner %> <br> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-1 col-xs-3" >
        <b>Email </b>
      </div>
      <div class="col-md-5 col-sm-8 col-xs-9" >
        <%= f.text_field :email  %> <br> 
      </div>
    </div>
  </div>
  <br><%= f.submit "Update Profile", class: "btn btn-large btn-primary" %>
  <br><br><br>
<% end %> 
