<div class="userProfile">
  <p id="notice"><%= notice %></p>

  <div class="row" >
    <div class="col-md-4" style="height:300px;float:left;overflow:hidden">
        <% if @user.image.present? && @user.image != "" %>
          <%= image_tag(@user.image, :size => "250x300") %> 
        <% else %>
          <%= image_tag "default_profile.jpg", :size => "250x300" %>
        <% end %>
    </div>

    <div class="col-md-8" style="height:300px;float:left;overflow:hidden">
        <% if @user.banner.present? && @user.banner != "" %>
          <%= image_tag(@user.banner, :size => "600x300") %>
        <% else %>
          <%= image_tag "default_banner.jpg", :width => "600x300" %>
        <% end %>
    </div>
  </div>
  
  <div class="row" >
    <div class="col-md-4" > 
      <div class="userinfo" >
   	    <strong>Username: </strong> <%= @user.name %>  <br>
        <strong>Status: </strong>  
        <% if @user.loggedin == 1 %>
          Online 
        <% else %>
          Offline
        <% end %> <br>
        <strong>SentenceZings: </strong> <%= @user.microposts.count %>  <br>
        <a href="<%= following_user_path(@user) %>">
        <strong> <%= @user.followed_users.count %> </strong> following </a>
        <a href="<%= followers_user_path(@user) %>">
        <strong> <%= @user.followers.count %> </strong> followers <br>
        <%= render 'follow_form' if signed_in? %>
      </div>
    </div>
    <div class="col-md-1" > 
    </div>
    <div class="col-md-7" > 
      <div class="userinfo2" >
        <br><strong>User Bio: </strong> <br>
        <%= @user.aboutme %> <br><br>
        <strong>Stories Contributed to:</strong><br>
        <% @stories.each do |story| %>
          <% if @user.id == story.user_id || @user.id == story.user2id %>
            <%= link_to story.title, edit_story_path(story.id) %> <br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
