<center> 
	<div class="posttextbox" data-story-id="<%=@story.id %>" data-story-turn="<%=@story.turn %>" >
  		<% if @story.microposts.any? %>
    		<%= render 'shared/feed' %>
  		<% end %>
	</div>
</center>
 
<% if @story.user2id > 0 %>
  <% if current_user.id == @story.user_id || current_user.id == @story.user2id || @story.user2id == 0 %>
	  <% if current_user.id != @story.turn %>
    	<%= form_for(@micropost) do |f| %>
        	<%= render 'shared/error_messages', object: f.object %>
        	<%= f.hidden_field :story_id %>
      
      		<center>
      			<div class="textarea">
        			<%= f.text_area :content, :cols => 100, :rows => 4, placeholder: "Add to the story!" %>
      			</div>
    			<span class="countdown"></span>
      			</br></br>

      			<div class="postbutton">
            		<%= f.submit "Post", class: "btn btn-large btn-primary" %>
      			</div>
      		</center>
      <% end %>
    <% end %>
  <% end %>
<% end %>