<center> 
  <div class="row" >
    <div class="col-md-12" >
      <div class="storyshow" data-story-id="<%=@story.id %>" >
      <h1><%= @story.title %></h1>
      <h2><%= @story.category %></h2>
      by <%= User.find(@story.user_id).name %>
      <% if @story.user2id != nil %>
        and <%= User.find(@story.user2id).name %>
      <% end %>
      <br/><br/>
    </div>
 
    <% if @story.microposts.any? %>
      <%= render 'shared/feed' %>
    <% end %>
  
    <br/>
    <% @like = @story.likes.build %>
    <% @story = @story.id %>
    <%= render 'shared/likes_form' %>
  
      <br/> <br/>
      </div>
    </div>
  </div>
</center>
 