<h1>Voting</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= story.category %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= link_to("Read Story", story_path(story), :rel => 'shadowbox[stories];width=1300;height=600;') %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= Like.where(:story_id => story.id).count %> Likes </td> 
        <!--
        <% if current_user.id != story.user_id && current_user.id != story.user2id %>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <% @like = story.likes.build %>
          <% @story = story.id %>
          <td><%= render 'shared/likes_form' %></td>
        <% end %>  
        -->   
      </tr>
    <% end %>
</tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
