<h1>Notification Feed</h1>
<center>
<% @activities.each do |activity| %>
      <% if activity.trackable_type == "Story"%>
        <% if current_user.following?(activity.owner) || (current_user.id == activity.trackable.user_id || current_user.id == activity.trackable.user2id) || current_user == activity.owner %>
          <div class="activity">
          <% if activity.owner.name == current_user.name %>
            <%= link_to "You", activity.owner %>
          <% else %>
            <%= link_to activity.owner.name, activity.owner if activity.owner %>
          <% end %>
          <% if activity.key == "story.create" %>
            created a new story 
          <% elsif activity.key == "story.update" %>
            joined the story 
          <% end %>
          <%= link_to activity.trackable.title, edit_story_path(activity.trackable) %> <%= activity.created_at.strftime("%A %B %d, %Y at %I:%M %p") %> 
        <% end %>
      
      <% elsif activity.trackable_type == "Micropost"%>
        <% if current_user.following?(activity.owner) || (current_user.id == Story.find_by_id(activity.trackable.story_id).user_id  || current_user.id == Story.find_by_id(activity.trackable.story_id).user2id) || current_user == activity.owner %>
          <div class="activity">
          <% if activity.owner.name == current_user.name %>
            <%= link_to "You", activity.owner %>
          <% else %>
            <%= link_to activity.owner.name, activity.owner if activity.owner %>
          <% end %>
            added a sentence to <%= link_to Story.find_by_id(activity.trackable.story_id).title, edit_story_path(activity.trackable.story_id) %> <%= activity.created_at.strftime("%A %B %d, %Y at %I:%M %p") %> 
        <% end %>
      <% else %>
        which has since been removed 
      <% end %>
  </div>
<% end %>
</center>