<!DOCTYPE html>

	<head>
    	<title>SentenceZing | <%= yield(:title)  %></title>
    	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    	<link rel="shortcut icon" type="favicon.ico" href="/assets/favicon.ico"/>
    	<link rel="shortcut icon" type="favicon.ico" href="https://sentencezing.herokuapp.com//favicon.ico"/>
    	<%= csrf_meta_tags %>
	</head>
  
    <%= render 'layouts/header' %>
  
	<body>
		<center>
			<div class="banner" style="width:500px;height:100px;float:center;overflow:hidden">
        		<%= image_tag("/assets/sentencezing.png", :width => "500") %>
    		</div>

    		<div class="container">
        		<%= yield %>
    		</div>   
    	</center>
    
    	<%= stylesheet_link_tag "shadowbox.css" %>
    	<%= javascript_include_tag "shadowbox.js" %>
    	<script type="text/javascript">
    		Shadowbox.init({
      		});
    	</script>
    </body>
  
	<%= render 'layouts/footer' %> 
  
</html>
